$red: rgba(241,100,93,1);

$white: #ffffff;
$offwhite: #fffefa;
$black: #000;

$grey: rgba(20,20,20,1);

$silver: rgba(180,180,180,1);

$blue: #07457B;
$transparentwhite: rgba(250,250,250,0.5);


$red: #EF5350; // Google Red 400
$turquoise: #42A5F5; // Google Blue 400
$green: #9CCC65; // Google Light Green 400
$orange: #FFCA28; // Google Amber 400


$source: 'Source Sans Pro', sans-serif;
$droid: 'Droid Sans', sans-serif;
