$red: rgba(241,100,93,1);

$white: #ffffff;
$black: #000;

// Jacobs Silver
$silver: #E6E6E6;

// Jacobs Blue
$blue: #07457B;

// Our own orange
$orange: #BE3B00;


$red: #EF5350; // Google Red 400
$turquoise: #42A5F5; // Google Blue 400
$green: #9CCC65; // Google Light Green 400


$source: 'Source Sans Pro', sans-serif;
$droid: 'Droid Sans', sans-serif;
